atomicwrites==1.4.0
attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
cssselect==1.1.0
cssutils==2.3.0
idna==2.10
iniconfig==1.1.1
lxml==4.6.3
packaging==20.9
pluggy==0.13.1
premailer==3.9.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.1
python-gammu==3.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.5
yagmail==0.14.256
